---
import MainLayout from "../layouts/MainLayout.astro"
import "../styles/global.css"
---

<MainLayout title='About' aboutactive='active'>
  <p style="word-wrap: break-word; max-width: 1000px;">
    Welcome to my website! I am a programmer and 3D artist based in Europe, with a passion for creating all kinds of tools, programs, games, and visual assets using various technologies such as Python, Unity, and Astro. I enjoy working on personal projects that challenge me and allow me to explore new areas of programming and art. On this website, you will find some of my recent projects that showcase my skills and creativity. From game development to web applications and 3D modeling.
  </p>
</MainLayout>