---
import MainLayout from "../layouts/MainLayout.astro"
import Project from "../components/project.astro"
---

<MainLayout title='Home' homeactive='active'>

  <div>
    <div>
      <h4>3</h4>
      <h6>Projects</h6>
    </div>
    <div>
      <h4>0</h4>
      <h6>Videos</h6>
    </div>
  </div>

  <h1>featured Project:</h1>

  <Project
    title="Mapy"
    about="A tool made in python to calculate percentages and formulas. Easy to use and UI but also UI-Less version available."
    imgsrc="/MapyBanner.png"
    imglink="https://github.com/Cybo3D/Mapy"
  />
  
</MainLayout>