---
import MainLayout from "../layouts/MainLayout.astro"
import Project from "../components/tester.astro"
---

<MainLayout title='Home' homeactive='active'>
  <p>Our Landing Page wrapped in a Astro Layout!</p>

  <Project
    title="Mapy"
    about="A tool made in python to calculate percentages and formulas. Easy to use and UI but also UI-Less version available."
    imgsrc="/MapyBanner.png"
  />
  
</MainLayout>